.connect-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #1e1e1e;

    .connect-header {
        width: 100%;
        margin: 25px;
        display: flex;
        justify-content: center;
        color: white;

        .connect-title {
            font-size: 45px;
        }
    }

    .connect-content {
        width: 20%;
    }
}