.play-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
    

    .play-header {
        text-align: center;
        margin: 25px;
    }

    .play-content {
        // TODO: add styling
    }

    .chord-container {
        background-color: #575757;
        width: 200px;
        height: 150px;
        position: fixed;
        bottom: 0;
        right: 0;
        text-align: center;
        border-radius: 20px;
        padding: 8px;

        .chord-content {
            // TODO: add styling
            // TODO: maybe add collapse button or toggle?
        }
    }
}