/* Navbar Styles */
.navbar {
    background-color: #333; /* Background color for the navbar */
    color: #fff; /* Text color */
    padding: 10px; /* Padding for the navbar */
  }
  
  .navbar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
  }
  
  .navbar li {
    margin-right: 20px; /* Spacing between navbar items */
    font-size: 25px;
  }
  
  .navbar a {
    text-decoration: none;
    color: #fff; /* Link text color */
    font-weight: bold;
  }
  
  .navbar a:hover {
    text-decoration: underline; /* Underline links on hover */
  }
  