.register-container {
    background-color: #1e1e1e;
    height: 100vh;
}

.register-header {
    text-align: center;
    margin: 25px;
    margin-top: 50px;
    color: #FFF;
}

.register-content {
    background-color: red;
    justify-content: center;
    align-items: center;
}

.register-buttons {
    background-color: red;
}